<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" aria-label="Previous" (click)="previousPage()">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let p of pages" [class.active]="currentPage == p" (click)="onChangePage(p)"> <a>{{ p }}</a> </li>
      <li class="page-item">
        <a class="page-link" aria-label="Next" (click)="nextPage()">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
    <p>
        Pokaż <select name="PageSize" id="PageSize" [(ngModel)]="pageSize" styles="width: 30px "(change)="onPageSizeChange()">
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select>
        roślin na stronie
      </p>
  </nav>