<form (ngSubmit)="onSubmit(form)" #form="ngForm">

    <div *ngIf="id != 0; then editForm else newForm"></div>
    <ng-template #newForm> <h2>Add new feature</h2></ng-template>
    <ng-template #editForm> <h2>Edit feature with id {{id}}</h2></ng-template>
  <div class="form-group">
    <label for="feature">Feature</label>
    <input class="form-control"
    type="text"
    id="feature" 
    name="name"
    placeholder="Enter feature name"
    required
    [(ngModel)]="f.name">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>

</form>