<h1>Growth</h1>
<p>Growth to strona internetowa pozwalająca na przeszukiwanie roślin w poszukiwaniu takich posiadających określone cechy lub należące do konkretnego rzędu lub gatunku</p>
<p>Strona powstała w ramach nauki programowania. Wykorzystano następujące technologie:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> i <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> jako backend</li>
  <li><a href='https://angular.io/'>Angular</a> i <a href='http://www.typescriptlang.org/'>TypeScript</a> jako frontend</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> jako layout</li>
  <li>Entity Framework jako narzędzie komunikacji z bazą danych</li>
</ul>
<p>Kod źródłowy dostępny jest na <a href='https://github.com/ogigg/Growth-web-app'>githubie</a></p>