<h1>Lista roślin</h1>
<div class="well">
  <div class="form-group">
    <label for="order">Rząd: </label>
    <select name="order" id="order" class="form-control" [(ngModel)]="filter.orderId" (change)="onFilterChange()">
      <option value=""></option>
      <option *ngFor="let o of orders"  value="{{o.id}}">{{o.name}}</option>
    </select>
  </div>
  <button class="btn btn-default" (click)="resetFilter()">Resetuj filtr</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Lp.</th>
      <th scope="col">Rząd</th>
      <th scope="col">Nazwa Gatunku</th>
      <th scope="col">Cechy</th>
    </tr>
  </thead>
  <tbody *ngFor="let p of displayedPlants">

    <tr >
      <th scope="row">{{p.id}}</th>
      <td>{{p.orderName}}</td>
      <td>{{p.speciesName}}</td>
      <td>{{p.features}}</td>
    </tr>

  </tbody>
</table>