<h1>Lista roślin</h1>
  <div class="form-group well">
    <label for="order">Rząd: </label>
      <select name="order" id="order" class="form-control" [(ngModel)]="filter.orderId" (change)="onFilterChange()">
        <option value=""></option>
        <option *ngFor="let o of orders"  value="{{o.id}}">{{o.name}}</option>
      </select>
    <label for="species">Gatunek: </label>
      <select name="species" id="species" class="form-control" [(ngModel)]="filter.speciesId" (change)="onFilterChange()">
        <option value=""></option>
        <option *ngFor="let s of species"  value="{{s.id}}">{{s.name}}</option>
      </select>
    <label>Cechy:</label>
    <div class="container-fluid">
      <div *ngFor="let f of features" class="checkbox" >
        <label for="{{ f.id }}" class="checkbox col-md-2" >
          <input  type="checkbox" id="{{ f.id }}" name="{{ f.id }}" [(ngModel)]="filter.selectedFeatures[f.id]" (change)="onFilterChange()" > {{f.name}} 
        </label>
      </div> 
    </div> 
    <div class=text-right>
        <button class="btn btn-danger" (click)="resetFilter()" style="margin-top: 15px;">Resetuj filtr</button>
    </div>
    
  </div>



<table class="table">
  <thead>
    <tr>
      <th (click)="sortBy('id')" scope="col">Lp.
        <span class="glyphicon glyphicon-triangle-bottom" *ngIf="query.sortBy==='id'"
        [class.glyphicon-triangle-bottom]="!query.isAscending"
        [class.glyphicon-triangle-top]="query.isAscending"></span>
      </th>
      <th (click)="sortBy('order')" scope="col">Rząd
          <span class="glyphicon glyphicon-triangle-bottom" *ngIf="query.sortBy==='order'"
          [class.glyphicon-triangle-bottom]="!query.isAscending"
          [class.glyphicon-triangle-top]="query.isAscending"></span>
      </th>
      <th (click)="sortBy('species')" scope="col">Nazwa Gatunku
          <span class="glyphicon glyphicon-triangle-bottom" *ngIf="query.sortBy==='species'"
          [class.glyphicon-triangle-bottom]="!query.isAscending"
          [class.glyphicon-triangle-top]="query.isAscending"></span>
      </th>
      <th scope="col">Cechy</th>
    </tr>
  </thead>
  <tbody *ngFor="let p of displayedPlants">

    <tr >
      <th scope="row">{{p.id}}</th>
      <td>{{p.orderName}}</td>
      <td>{{p.speciesName}}</td>
      <td>{{p.features}}</td>
    </tr>

  </tbody>
</table>
<pagination [total-items]=totalCount [page-size]="query.pageSize" (page-changed)="onPageChanged($event)"></pagination>
