<form>
  <h2>Dodaj nową roślinę</h2>
  <div class="form-group">
    <label for="order">Rząd</label>
    <select id="order" class="form-control" (change)="onOrderChange()"  name="order" [(ngModel)]="plant.order" >
      <option value="">Wybierz rząd</option>
      <option *ngFor="let o of orders" value="{{o.id}}">{{o.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="species">Gatunek</label>
    <select id="species" class="form-control">
      <option value="">Wybierz gatunek</option>
      <option *ngFor="let s of species" value="{{s.id}}">{{s.name}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
